header
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../images/banner1.jpg") no-repeat center center 
    background-size: cover
    height: 900px
    position: relative
    
    nav .navbar
        border-top: 1px solid white
        border-bottom: 1px solid white
    
    .nav-link
        color: white
        padding: 13px 20px !important
    
    .taste
    
        p
            font-family: 'Courgette', cursive
            font-size: 50px
            color: white

            .small-title
                font-size: 30px

            #taste
                color: $red

        .badges
            margin-bottom: 17rem

    #caroussel
        
        #ronds-gris
            display: flex
            justify-content: center
            
        .rounded-circle
            width: 25px
            height: 25px

#header-decoration
    background: url("../../../images/bottom_decoration_img.png"), repeat
    height: 11px
    width: 100%
    margin-top: 30px
    position: absolute
    bottom: 0
